

.App {
  text-align: center;
  color: #4a66b3;
}

button {
  height: 2.1rem;
  color: #4a66b3;
  background-color: #F2DBD5;
  border-color: #F27F3D;
  border-radius: 10px;
}

.main-header {
  margin-top: 3vh;
}

.skor {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  pointer-events: none;
}

.skor-detay {
  margin: 1vh;
}

.result-alert {
  margin-top: 10px;
  height: 160px;
  width: 340px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
}

.win-result-alert {
  color: rgb(29, 139, 19);
  border: 3px solid rgb(29, 139, 19);
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.lose-result-alert {
  color: red;
  border: 3px solid red;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.oyun-wrapper {
  margin-top: 2vh;
}

.letter-cell {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out, color 0.4s ease-in-out;
}

.yenile-button {
  display: block;
  margin: 0 auto 0 auto;
}

.tahmin-wrapper {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: center;
}

.tahmin-harfler {
  letter-spacing: 0.4rem;
  margin-left: 0.7rem;
}

.letter-wrapper {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.letter {
  margin: 20px 20px;
}

.klavye-cluster {
  margin-top: 4vh;
}

.button-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  gap: 4px;
}

.button-cluster button {
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
}

.button-cluster button.special-key {
  width: 3rem;
}

.correct {
  background-color: green;
  color: white;
  border-color: white;
}

.present {
  background-color: yellow;
  color: white;
  border-color: white;
}

.absent {
  background-color: gray;
  color: white;
  border-color: white;
}

